body {
	padding: 0;
	background-color: #ffffff;
	font-family: "ProximaNova", Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.45;
}

.green-line {
	background-color: #00ca67;
	max-height: 50px;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.green-line {
		padding: 0 20px;
		}
	}

@media (max-width: 767px) {
	.green-line {
		padding: 0 20px;
	}
}

.menu {
	width: 100%;
	background: #29323b;
	opacity: 0.93;
	padding: 0;
}

.promo {
	background-color: rgba(41, 50, 59, 0.93);
	background: url("background.jpg") no-repeat center bottom;
	background-size: cover;
	min-height: 514px;
}

@media (max-width: 767px) {
	.promo {
		padding-top: 100px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.promo {
		padding-top: 100px;
	}
}

.main {
	padding-bottom: 50px;
}

.about {
	background-color: #F7F7F7;
}

.about__inner {
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px; 
    background-color: #F7F7F7;
    display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 767px) {
	.about__inner {
		flex-direction: column;
		padding-top: 30px;
		padding-bottom: 10px;
	}
}


.about__col {
	width: 50%;
}

.about__col:first-child {
	text-align: right;
	padding-right: 30px;
}
@media (max-width: 767px) {
	.about__col:first-child {
		text-align: center;
		padding: 0 0 20px 20px;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.about__col:first-child {
		text-align: center;
	}
}

.about__col:last-child {
	border-left: #979594 1px solid;
	padding-left: 30px;
	position: relative;
}
@media (max-width: 767px) {
	.about__col:last-child {
		width: 100%;
		border-left: none;
		border-top: 1px #bd6d6d solid;
		text-align: center;
		padding-top: 30px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.about__col:last-child {
		width: 50%;
	}
}


.news-title {
	color: #00ca67;
	font-size: 40px;
	text-align: center;
	padding: 20px 0;
	font-weight: 300;
	margin: 0;
}

.footer {
	background: url("background.jpg") no-repeat center bottom;
	background-attachment: fixed;
	z-index: 3;
	position: relative;
	color: #ffffff;
}

.footer:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(41, 50, 59, 0.93);
    z-index: 1;
}

.footer__main {
	max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 2;
}

.footer__menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px 0 0;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .footer__menu {
        display: none;
   }
}

.footer_menu__item {
    margin-right: 70px;
    height: 30px;
    line-height: 28px;
    margin-bottom: 10px;
}

.footer_menu__item:last-child {
    margin-right: 0;
}

.footer__logo {
	display: none;
	margin: 0 auto;
}

@media (max-width: 767px) {
    .footer__logo {
        display: block;
    }
}	

.footer__copyringt {
	font-size: 24px;
	color: #B2C4CB;
	text-align: center;
}

.footer__subfooter {
	width: 100%;
	position: relative;
	z-index: 2;
}

.footer__subfooter__inner {
    color: #fff;
    border-top: 1px solid #B2C4CB;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .footer__subfooter__inner {
        padding: 10px 30px;
    }
}